<div class='contact_detail'>
  <div class="lead_data">

    <div class="lead_status">
      <ul *ngIf= "status$ | async as status">
        <li>
          <div class="status_stat_row">
            <p class="stat_p"><b>DATA</b><p>
            <p class="stat_p"><b>STATUS</b></p>   
          </div>
        </li>
        <li *ngFor = "let stat of status" class="stat_li">
          <div class="status_stat_row">
            <p class="stat_p">{{stat.date}}<p>
            <p class="stat_p">{{stat.status}}</p> 
          </div>
          <p *ngIf="stat.note !== '' " class="status_note"><b>Notatka:</b> {{stat.note}}</p>
          <div *ngIf="stat.policy !== '' "  class="status_stat_row">
            <p class="stat_p"><b>Polisa: {{stat.policy}}</b></p>
            <p class="stat_p"><b>Przypis: {{stat.income}}zł</b></p>
          </div>
        </li>
      </ul>
    </div>

    <div class="lead_details" *ngIf= "lead$ | async as lead" >
        <div class="campaign_specifics">
          <div class="content_specifics">
            <img class="detail_img" src='../../../data//img/{{lead[0].campaign_image}}.png'>
            <p>{{lead[0].type}}</p>
            <p>{{lead[0].campaign}}</p>
            <p>{{lead[0].product}}</p>
          </div>
        </div>
        <div class="client_specifics">
          <p>Id kontaktu: {{lead[0].lead_id}}</p>
          <p><b>{{lead[0].name}} {{lead[0].surname}} <span *ngIf="lead[0].age !== ''"> ({{lead[0].age}} lat)</span></b></p>
          <p>{{lead[0].post_code}} {{lead[0].town}}, {{lead[0].adress}}</p>
          <p><mat-icon>phone</mat-icon>{{lead[0].phone}} <mat-icon>alternate_email</mat-icon>{{lead[0].mail}}</p>
          <p>Typ klienta: {{lead[0].client_type}}</p>
          <p class="status"><b>{{lead[0].status}}</b></p>
          <p><i>Uwaga! Status sukcesu z przypisem można zgłosić tylko raz</i></p>
          <form class="form" [formGroup]="statusForm" (submit)="addStatus()"> 
            <mat-form-field>
              <mat-label>Wybierz status</mat-label>
              <mat-select formControlName="status">
                <mat-option *ngFor="let status of  statusList" [value]="status">
                {{status}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="visibleNote">
              <mat-label>Notatka</mat-label>
              <input matInput formControlName="note">    
            </mat-form-field>
            <div formArrayName="success" >
              <div *ngFor="let item of success().controls let i=index" [formGroupName] ='i'>
                <mat-form-field>
                  <mat-label>Numer polisy*</mat-label>
                  <input matInput formControlName="policy">
                  <mat-error *ngIf=true>polisa zawiera 9 liczb</mat-error> 
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Przypis(zł)*</mat-label>
                  <input matInput formControlName="income">
                  <mat-error *ngIf=true>przypis zawiera się w przedziale 0 - 100 000</mat-error> 
                </mat-form-field>         
              </div>
          </div>
            <button mat-flat-button color="primary" type="submit" class="submit-btn" >zmień status</button>
          </form>
        </div>
    </div>

  </div>
</div >