.lead_buy{
  width: 95%;
  margin: 0 auto;
}

.description{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.5rem;
}

table {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

button{
  font-family: 'Open Sans', sans-serif;
  border-radius: 30px;
}

.small{
  width: 12%;
}

.big{
  width: 25%;
}

@media (max-width:425px){
  td{
    font-size: 10px !important;
    padding: 0px !important;
  }
  button{
    font-size: 10px;
    width: 40px !important;
  }
}



