.lead_buy{
  width: 95%;
  margin: 0 auto;
}

.description{
margin-top: 15px;
margin-bottom: 15px;
line-height: 1.5rem;
}

table {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

button{
  font-family: 'Open Sans', sans-serif;
}

.mat-form-field {
  font-size: 14px;
 width: 100%;
}

.small{
  width: 12%;
}

.big{
  width: 25%;
}

.empty{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color:  #A60E0E;
}