<div class="recovery_password_modal">
  <p class="descript">Podaj swój login sprawdzimy, czy dany użytkownik istnieje w bazie i czy jest aktywny. Następnie zostanie wysłane nowe hasło na przypisany do użytkownika adres mail.</p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>login</mat-label>
      <input matInput [(ngModel)] = "nick">
    </mat-form-field>
  </p>
  <button type="submit" class="submit-btn" (click)= "sendMail()">wyślij mail</button>
  <p *ngIf="subject$ | async" class="warn">Podany login nie istnieje, lub nie jest aktywny</p>
</div>


