.recovery_password_modal{
  text-align: center;
}

.decsript{
  font-size: 20px;
}

mat-form-field{
  width: 100%;
}

.submit-btn {
  width:150px;
  height: 40px;
  color: #fff;
  background: linear-gradient(135deg,#81cff4 0,#00a6e6 15%,#004f9e 50%,#0e2050 100%);
  border-radius:20px;
  border: 0px;
}

.submit-btn:hover {
  cursor: pointer;
}

.submit-btn:focus {
  outline: none; 
}

.warn{
  color: #A60E0E;
}
