.my_contacts{
  width: 95%;
  margin: 0 auto;
}

.description{
margin-top: 15px;
margin-bottom: 15px;
line-height: 1.5rem;
}

.send_file_container{
  margin-top: 30px;
  margin-bottom: 30px;
}
.load_file_form{
  padding: 30px;
}

.child {
  position: absolute;
  top: 0;
}

.child-1 {
  left: 0;
  top: -4px
}

.child-2 {
  left: 0;
}

.parent {
  position: relative;
}
.input_file{
  font-size: 17px;
  width: 110px;
  z-index: 1;
  opacity: 0;
}

.send_button{
  margin-left: 50px;
  margin-top: 10px;
}

.load_file_button{
  z-index: -2;

}

.input_file:hover{
  cursor: pointer;
}

.filter{
  text-align: center;
}

 //tabela wyników
table {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

tr p{
  margin: 0px;
}

 .at-form-field-flex{
width: 90%;
 }

button{
  font-family: 'Open Sans', sans-serif;
  border-radius: 20px;

}
.buton_tab{
  margin-left: 10px;
}

mat-form-field{
  width: 100px;
}

@media (max-width:768px){
  td{
    font-size: 12px !important;
    padding: 0px !important;
  }
  mat-form-field{
    width: 100px;
  }
  button{
    font-size: 12px;
  }
  .send_button{
    margin-left: 45px;
  }
}

@media (max-width:425px){
  td{
    font-size: 10px !important;
    padding: 0px !important;
  }
  mat-form-field{
    width: 20px;
  }
  button{
  font-size: 10px;
  padding: 1px !important;
  }
  .send_button{
    margin-left: 30px;
  }
}
