.my_contacts{
  width: 95%;
  margin: 0 auto;
}

.description{
margin-top: 15px;
margin-bottom: 15px;
line-height: 1.5rem;
}

.filter{
  text-align: center;
}

 //tabela wyników
table {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

tr p{
  margin: 0px;
}

 .at-form-field-flex{
width: 90%;
 }


.detail {
  overflow: hidden;
  display: flex;
  height: 180px;
  width: 80%;
  margin: 0 auto;
}

.detail p{
  margin: 7px auto;
}

.detal_campaign {
  padding: 50px;
  width: 20%;
  text-align: center;
  padding: 8px;
}

.detail_adress{
  width: 40%;
  text-align: center;
  padding: 8px;
}

.detail_contact{
  width: 40%;
  text-align: center;
  padding: 8px;
}

.detail_img{
  margin-top: 10px;
  height: 50px;
}

.img_description{
  text-transform: uppercase;
  margin: 0 auto
}

button{
  font-family: 'Open Sans', sans-serif;
  border-radius: 35px;
  margin: 10px;
}

.mat-icon{
  font-size: 12px;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.example-expanded-row):hover {
  background:  #eef7fc;
  cursor: pointer;
}

.element-row td {
  border-bottom-width: 0;
}

@media (max-width:768px){
  td{
    font-size: 12px !important;
    padding: 0px !important;
  }
  mat-form-field{
    width: 100px;
  }
  button{
    font-size: 12px;
  }
}

@media (max-width:425px){
  td{
    font-size: 10px !important;
    padding: 0px !important;
  }
  mat-form-field{
    width: 20px;
  }
  .detal_campaign{
    display: none;
  }
  button{
  font-size: 10px;
}
}
