<div class="user">
  
  <a class="link" routerLinkActive="active" [routerLink]="'my_count'" >
    <div class="user_link agent">
      <img src='../../../data//img/agent.png'>
      <span class="link_descript">AGENT</span>
    </div>
  </a>

  <div class="user_data"  *ngIf ="loginUser$ | async  as loginUser ">
    <div class="user_data_title">
      <p>Agent:</p>
      <p>Region:</p>
      <p>Obszar:</p> 
    </div>
    <div class="user_data_result">
      <p>{{loginUser.name}} {{loginUser.surname }}</p>
      <p>{{loginUser.region}}</p>
      <p>{{loginUser.area}}</p> 
    </div>
  </div>

  <a class="link" routerLinkActive="active" [routerLink]="'wallet'" >
    <div class="user_link wallet">
      <img src='../../../data//img/wallet.png'>
      <span class="link_descript" >PORTFEL</span>
    </div>
  </a>

</div>
<div class="navigation">
  <ul>
    <li class="one"><a mat-button color="primary" routerLinkActive="active"  class="nav-link" [routerLink]="'shop'"> Kontkaty - Sklep</a></li>
    <li class="two"><a mat-button color="primary" routerLinkActive="active"  class="nav-link" [routerLink]="'my_kontakt'" >Moje Kontakty</a></li>
    <li class="three"><a mat-button color="primary" routerLinkActive="active"  class="nav-link" [routerLink]="'add_kontakt'" >Dodaj Kontakt</a></li>
    <li class="four"><a mat-button color="primary" routerLinkActive="active"  class="nav-link" [routerLink]="'results'" >Moje Wyniki</a></li>
    <hr />
  </ul>
</div>
<router-outlet></router-outlet>