<div class="user">
  <img src='../../../data//img/agent.png'>
  <div class="user_data"  *ngIf ="loginUser$ | async  as loginUser ">
    <div class="user_data_title">
      <p>Agent:</p>
      <p>Region:</p>
      <p>Obszar:</p> 
    </div>
    <div class="user_data_result">
      <p>{{loginUser.name}} {{loginUser.surname }}</p>
      <p>{{loginUser.region}}</p>
      <p>{{loginUser.area}}</p> 
  </div>
  </div>
</div>



<mat-toolbar>
  <mat-toolbar-row>
      <a mat-button color="primary" routerLinkActive="active"  class="nav-link" [routerLink]="'shop'"> Kontkaty - Sklep</a>
      <a mat-button color="primary" routerLinkActive="active"  class="nav-link" [routerLink]="'my_kontakt'" >Moje Kontakty</a>
      <a mat-button color="primary" routerLinkActive="active"  class="nav-link" [routerLink]="'add_kontakt'" >Dodaj Kontakt</a>
      <a mat-button color="primary" routerLinkActive="active"  class="nav-link" [routerLink]="'my_count'" >Moje Konto</a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>