<form class="form" [formGroup]="changePasswordForm" (submit)="changePassword()"> 
  <p>
    <mat-form-field appearance="outline">
      <mat-label>obecne hasło</mat-label>
      <input matInput formControlName="password">
      <mat-error *ngIf=true></mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>nowe hasło</mat-label>
      <input matInput formControlName="newPassword">
      <mat-error *ngIf=true>minimum 8 znaków, jedna duża i jedną małą literę oraz numer</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>powtórz hasło</mat-label>
      <input matInput formControlName="repeatPassword">
      <mat-error *ngIf=true>minimum 8 znaków, jedna duża i jedną małą literę oraz numer</mat-error>
    </mat-form-field>
  </p>
  <button type="submit" class="submit-btn" >Zmień hasło</button>
  <p *ngIf="error" class="warn">{{errorContent}}</p>
</form>
