form{
  text-align: center;
  margin: 0 auto;
}

 p{
  margin: 0px;
}

mat-form-field{
  width: 80%;
}

.submit-btn {
  width:150px;
  height: 40px;
  color: #fff;
  background: linear-gradient(135deg,#81cff4 0,#00a6e6 15%,#004f9e 50%,#0e2050 100%);
  border-radius:20px;
  border: 0px;
  margin-top: 10px;
}

.submit-btn:hover {
  cursor: pointer;
}

.submit-btn:focus {
  outline: none; 
}

.warn{
  margin-top: 20px;
  color: #A60E0E;
}

.prompt{
  width: 80%;
  font-size: 10px;
}

@media (max-width:425px){
  mat-form-field{
    width: 90%;
  }
  form p{

    margin-bottom: 15px;
  }
  
}
