<div class="my_contacts">

  <div class="description">
    Tutaj znajdziesz swoje zakupione kontakty. W poszczególnych kontaktach znajdują się niezbędne dane do podjęcia kontaktu oraz dane o kliencie. W celu uzyskania bardziej szczegółowych danych kiknij w poszczególne kontakty, a po wykonanej czyności możesz zaraportować wykonane czynności.
  </div>

  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
    <ng-container matColumnDef="lead_id" >
      <th mat-header-cell *matHeaderCellDef class="lead_row">
        <p mat-sort-header>Id</p>
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Wyszukaj</mat-label>
          <input matInput [formControl]="idFilter">
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let row" class="lead_row"> {{row.lead_id}}</td>
    </ng-container>
    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef> 
        <p mat-sort-header>KLIENT</p>
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Wyszukaj</mat-label>
          <input matInput [formControl]="clientFilter">
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} {{row.surname}}</td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>
        <p mat-sort-header>TYP</p>
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Wyszukaj</mat-label>
          <input matInput [formControl]="typeFilter">
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let row"> {{row.type}} </td>
    </ng-container>
    <ng-container matColumnDef="campaign">
      <th mat-header-cell *matHeaderCellDef> 
        <p mat-sort-header>KAMPANIA</p>
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Wyszukaj</mat-label>
          <input matInput [formControl]="campaignFilter">
        </mat-form-field>  
      </th>
      <td mat-cell *matCellDef="let row"> {{row.campaign}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> 
        <p mat-sort-header>STATUS</p>
      </th>
      <td mat-cell *matCellDef="let row"> {{row.status}} </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="detail"
          [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="detal_campaign">
            <img class="detail_img" src='../../../data//img/{{element.campaign_image}}.png'>
            <p class="img_description">{{element.campaign}}</p>
          </div>
          <div class="detail_adress">
            <p><b>ADRES KLIENTA:</b></p>
            <p>{{element.post_code}} {{element.town}}</p>
            <p>{{element.adress}}</p>
          </div>
          <div class="detail_contact">
            <p><mat-icon> phone</mat-icon> {{element.phone}}</p>
            <p><mat-icon>alternate_email</mat-icon> {{element.mail}}</p>
            <button mat-flat-button color="primary" [routerLink]="'/agent/lead'"  [queryParams]="{id:element.lead_id}">obłsuga kontaktu</button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      class="element-row"
      [class.example-expanded-row]="expandedElement === row"
      (click)="expandedElement = expandedElement === row ? null : row">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>

</div>





