.header{
  border-bottom: solid 1px #c4e6f7; 
  display: block;
  height: 50px;
}

img{
  height: 36px;
  margin: 7px;
}

.title{
  position: absolute;
  display: inline-block;
  font-size: 25px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 5px;
  top: 15px;
}

button{
  float: right;
  top: 7px;
  right: 7px;
  font-family: 'Open Sans', sans-serif;
}

.mat-button-wrapper{
  font-family: 'Open Sans', sans-serif !important
}

@media (max-width:425px){
  .title{
    display: none;
  }
}

