.modal{
  width: 95%;
  margin: 0 auto;
}

.req_alert {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  margin: 0 auto;
  padding-bottom: 7px ;
}

mat-form-field{
  width: 100%;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

button{
  width: 100%;
  border-radius: 25px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px ;
}