form{
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  width: 300px;
  height: 300px;
}

.decsript{
  font-size: 20px;
}

mat-form-field{
  width: 100%;
}

.submit-btn {
  width:150px;
  height: 40px;
  color: #fff;
  background: linear-gradient(135deg,#81cff4 0,#00a6e6 15%,#004f9e 50%,#0e2050 100%);
  border-radius:20px;
  border: 0px;
}

.submit-btn:hover {
  cursor: pointer;
}

.submit-btn:focus {
  outline: none; 
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;;
}

.warn{
  color: #A60E0E;
}

.icon_button{
  background-color: #fff;
  border: none;
}

.icon_button:focus {
  outline: none; 
}