.modal{
  padding: 30px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.req_alert {
  text-align: center;
  font-size: 13px;
  font-style: italic;
  margin: 0 auto;
  padding-bottom: 7px ;
}

mat-form-field{
  width: 100%;
}

mat-form-field{
  width: 100%;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

mat-option{
  font-family: 'Open Sans', sans-serif;
}

mat-select{
  font-family: 'Open Sans', sans-serif;
  height: 20px;
}

button{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  border-radius: 20px;
  width: 100%;
}