.structure{
  width: 95%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.structure_area{
text-align: center;
font-size: 20px;
}

.structure_item{
  display: flex;
  border: solid 1px #c4e6f7;
  border-radius: 20px;
  padding: 2%;
  margin: 2%
}

.structure_director_all{
  width: 50%;
}

.structure_director{
  display: flex;
}

.structure_agents{
  text-align: center;
  width: 50%;
}

.user_data_title{
  text-align: right;
  font-weight: bold;
  width: 50%;
}
.structure_button{
  text-align: center;
}

.user_data_result{
  text-align: left;
  margin-left: 10px;
  width: 50%;
}

ul{
  display: block;
list-style: none;
}
 
li{
  margin: 10px;
}

li p {
  margin: 0;
  line-height: 25px;
}

button{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.unactive{
  color: rgb(129, 11, 11);
}

.active{
  color: rgb(7, 92, 7);
}

@media (max-width:425px){
  .structure_item{
    display: block
  }
  ul{
    padding: 0;
  }
  .structure_director_all, .structure_agents{
    width: 100%;
  }
  .user_data{
    width: 90%;
    font-size: 12px;
  }
  button{
    font-size: 10px;
  }
}
